<h2>Control de la base de usuarios y registros</h2>
<p>Crear un nuevo registro</p>
<p>Modificar un registro</p>

<table border="1">
    <thead>
        <tr>
            <th>Título 1</th>
            <th>Título 2</th>
            <th>Título 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Celda 1</td>
            <td>Celda 2</td>
            <td>Celda 3</td>
        </tr>
        <tr>
            <td>Celda 4</td>
            <td>Celda 5</td>
            <td>Celda 6</td>
        </tr>
        <tr>
            <td>Celda 7</td>
            <td>Celda 8</td>
            <td>Celda 9</td>
        </tr>
        <tr>
            <td>Celda 10</td>
            <td>Celda 11</td>
            <td>Celda 12</td>
        </tr>
    </tbody>
</table>
