{% load static %}
<!doctype html>
<head>
    <title>Nuevo Registro</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="icon"href="{% static 'favicon.ico' %}">
	<style>
		.jumbotron {
		background-color: #f4511e; /* Orange */
		color: #ffffff;
		}
		.bg-grey {
		background-color: #f6f6f6;
		}
	</style>
</head>
<html>
   <body>
		<main class="container"> <!-- <div class="container-fluid"> -->
		<div class="jumbotron text-center">
			<h1>Nuevo Registro</h1>
			<span><a href="panel"><< regresar a mis registros</a></span>
		  <form method="post">
				{% csrf_token %}
				<label for="usuario">Usuario:</label>
				<input type="text" name="usuario" required><br>
				<label for="password">Password:</label>
				<input type="text" name="password" required><br>
				<input type="submit" class="btn btn-success" value="Crear registro">
		  </form>
		</div>      
		</main>
   </body>
</html>
