{% extends "master.html" %}
{% load static %}
{% block title %}
  CFE | Registro de socio
{% endblock %}
{% block style %}
	{% if opciones == 'usuario' %}
		form p:nth-child(2), form p:nth-child(4), form p:nth-child(7){
		display: none;
		}
	{% endif %}
{% endblock %}
{% block content %}
<div id="cfe-usuario-marco" class="cfe-mimodal">
	<div class="cfe-modal-content">
		<span class="cfe-close"><a href="https://cfevirtual.camarasal.com/">x</a></span>
		{% if opciones == 'socio' %}
		  <h3>Registro de Socio</h3>
		{% endif %}
		{% if opciones == 'usuario' %}
		  <h3>Registro de Usuario</h3>
		{% endif %}
		<form method="post">
			{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
		</form>
		{% if opciones == 'socio' %}
			<datalist id="browsers">
				{% for item in empresas %}
					<option value="{{ item }}"> 
				{% endfor %}
			</datalist>
		{% endif %}
	</div>
	<div id="mis-avisos" class="cfe-avisos cfe-toogle">{{ mitexto }}<small>[cerrar]</small></div>

</div>
<script>
{% if opciones == 'usuario' %}
	document.getElementById("id_nombre").placeholder = "Nombre Completo";
{% endif %}
</script>

{% endblock %}
